# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Environments
.env
.venv/
venv/
ENV/
env/
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# Datasets
data/
*.csv
*.json
*.parquet
*.db
*.zip

# Docker
*.pid
*.tar
*.img
docker-compose.override.yml

# Airflow
airflow.db
logs/
__pycache__/

# Spark
metastore_db/
derby.log

# Kafka
kafka-logs/
zookeeper-logs/

# Others
.DS_Store